.projectNameSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 30px;
}

.projectHeader {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.projectDesc {
  display: flex;
  text-align: center;
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 590px;
  overflow: hidden;
}
